# SPRINT 3 - TASCA 2

### EXERCICI 1

**Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.**

**Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.**

In [2]:
import pandas as pd
import statistics

df=pd.read_csv('C:/Users/flore/Desktop/DS/Sprint 3/DelayedFlights.csv')

df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Realizaremos la selección de los 200.000 datos aleatorios con los que trabajaremos.
- **n**: es el número de elementos que se desean seleccionar del objeto.
- **frac**: es la fracción de elementos que se desea obtener, no se puede emplear al mismo tiempo que n siendo únicamente posible usar uno de los dos.
- **replace**: indica si el valor que se ha seleccionado se puede volver a incluir en la muestra o solamente se puede obtener una vez.
- **weights**: permite asignar una probabilidad de ser seleccionado a cada uno de los registros, por defecto todos tienen la misma.

mirar este link: https://www.analyticslane.com/2021/07/08/pandas-seleccionar-elementos-aleatorios-en-dataframes-pandas/

In [3]:

df1=df.sample(n=200000, frac=None, replace=False, weights=None, random_state=None)
df1
#a partir de ahora utilizaré el df1

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1348968,4548472,2008,8,25,1,1908.0,1740,2041.0,1923,DL,...,11.0,17.0,0,N,0,0.0,0.0,78.0,0.0,0.0
930977,3126107,2008,6,2,1,1447.0,1438,1626.0,1614,YV,...,5.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
908103,3059680,2008,6,22,7,1837.0,1745,2028.0,1930,WN,...,6.0,10.0,0,N,0,10.0,0.0,6.0,0.0,42.0
1368853,4627308,2008,8,15,5,2007.0,1935,2241.0,2055,MQ,...,83.0,9.0,0,N,0,19.0,0.0,74.0,0.0,13.0
652791,2102943,2008,4,28,1,1032.0,950,1221.0,1142,DL,...,6.0,18.0,0,N,0,39.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665587,6131585,2008,11,12,3,1041.0,958,1321.0,1154,UA,...,7.0,54.0,0,N,0,0.0,0.0,87.0,0.0,0.0
110559,352997,2008,1,28,1,1101.0,1055,1238.0,1245,F9,...,9.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1837626,6743908,2008,12,19,5,2104.0,2000,2353.0,2245,DL,...,8.0,38.0,0,N,0,0.0,13.0,4.0,0.0,51.0
1820569,6690789,2008,12,12,5,1001.0,943,1529.0,1519,UA,...,6.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1439950,4905858,2008,9,21,7,1634.0,1610,1724.0,1710,WN,...,7.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN

### Exercici 2

Fes un informe complet del dataset:

- Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

- Troba quantes dades faltants hi ha per columna.
- Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
- Fes una taula de les aerolínies amb més endarreriments acumulats.
- Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
- Aporta allò que consideris rellevant.

In [4]:
df1.columns.values 
#lo hacemos para saber cuales son los valores de las columnas, para comprender los datos y saber cuales nos sirven y cualesno

array(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek',
       'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier',
       'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime',
       'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'], dtype=object)

In [5]:
retraso_salida=df1[['DepTime', 'CRSDepTime']] 

retraso_salida

         DepTime  CRSDepTime
1348968   1908.0        1740
930977    1447.0        1438
908103    1837.0        1745
1368853   2007.0        1935
652791    1032.0         950
...          ...         ...
1665587   1041.0         958
110559    1101.0        1055
1837626   2104.0        2000
1820569   1001.0         943
1439950   1634.0        1610

[200000 rows x 2 columns]

In [6]:
(df1['DepTime']-df1['CRSDepTime']).mean()

51.3256

Realizando la resta entre el horario real al que salió el vuelo y el estipulado por la aerolinea, podemos saber cual es la media de retraso de nuestros datos.
Sin embargo, estaría bien realizar una mediana, ya que por datos excepcionales, la media se puede disparar a un nivel muy elevado si hay vuelos que han tenido este valor excepcional muy alto.

In [7]:
import statistics as stats
stats.mode(df1['DepTime']-df1['CRSDepTime'])

6.0

**Troba quantes dades faltants hi ha per columna.**

In [8]:
missing_values=df1.isnull().sum(min_count=1)
missing_values = missing_values[missing_values != 0]

print(f"Número de columnas con datos faltantes: {missing_values.shape[0]}")
if missing_values.shape[0]:
    print("Recuento de valores nulos por columna: ")
    for name, miss_vals in missing_values.items():
        p = miss_vals > 1
        print(f"  - A la columna '{name}' le falta{'n' if p else ''} "
              f"{miss_vals} dato{'s' if p else ''}.")

Número de columnas con datos faltantes: 12
Recuento de valores nulos por columna:
  - A la columna 'ArrTime' le faltan 778 datos.
  - A la columna 'ActualElapsedTime' le faltan 921 datos.
  - A la columna 'CRSElapsedTime' le faltan 14 datos.
  - A la columna 'AirTime' le faltan 921 datos.
  - A la columna 'ArrDelay' le faltan 921 datos.
  - A la columna 'TaxiIn' le faltan 778 datos.
  - A la columna 'TaxiOut' le faltan 51 datos.
  - A la columna 'CarrierDelay' le faltan 70902 datos.
  - A la columna 'WeatherDelay' le faltan 70902 datos.
  - A la columna 'NASDelay' le faltan 70902 datos.
  - A la columna 'SecurityDelay' le faltan 70902 datos.
  - A la columna 'LateAircraftDelay' le faltan 70902 datos.

**Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).**

A partir de los datos aportados en Kaggle, sabemos las unidades que se utilizan en cada una de las columnas, en este caso nos centraremos en utilizar el 'Air Time' que está en minutos y representa el tiempo que transcurre el avión en el aire, no nos interesa el tiempo que transcurre desde el despegue y el aterrizaje ya que no es representativo para un cálculo de velocidades.
Por otro lado, también utilizaremmos la distancia del recorrido ('Distance') que está con unidades de millas.

In [9]:
df1['Velocidad media']=(df1['Distance']/df1['AirTime'])
df1

#La unidad utilizada para velocidad media es millas/hora

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Velocidad media
1196010,3991222,2008,7,29,2,1753.0,1725,1936.0,1846,FL,...,56.0,0,N,0,28.0,0.0,22.0,0.0,0.0,7.176471
473017,1484827,2008,3,19,3,1740.0,1605,1918.0,1754,DL,...,17.0,0,N,0,2.0,0.0,0.0,0.0,82.0,7.783784
1591189,5735829,2008,10,4,6,1452.0,1439,1530.0,1510,HA,...,11.0,0,N,0,10.0,0.0,0.0,0.0,10.0,3.652174
692770,2265152,2008,4,21,1,1015.0,950,1202.0,1120,AA,...,59.0,0,N,0,0.0,0.0,17.0,0.0,25.0,7.257426
1772529,6554051,2008,12,31,3,1335.0,1305,1424.0,1400,WN,...,12.0,0,N,0,5.0,0.0,0.0,0.0,19.0,5.969697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794806,2633722,2008,5,30,5,1510.0,1401,1805.0,1720,UA,...,9.0,0,N,0,45.0,0.0,0.0,0.0,0.0,8.362745
1443268,4922068,2008,9,26,5,1838.0,1745,2204.0,2120,WN,...,7.0,0,N,0,44.0,0.0,0.0,0.0,0.0,7.380597
1687382,6237071,2008,11,14,5,51.0,2136,154.0,2253,EV,...,8.0,0,N,0,0.0,181.0,0.0,0.0,0.0,6.794643
781320,2581211,2008,5,16,5,1648.0,1603,1818.0,1708,OO,...,21.0,0,N,0,0.0,0.0,70.0,0.0,0.0,2.883333
1517454,5348060,2008,9,10,3,1550.0,1540,2014.0,2024,CO,...,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,8.045977

Para saber si los vuelos han llegado a tiempo o lo han hecho en hora, tenemos en cuenta que en la información aportada en Kaggle nos dice que los vuelos que se consideran tarde son los que tienen una llegada 15 minutos por sobre la hora de llegada estipulada por la aerolinea.

In [9]:
df1.loc[df1['ArrDelay'] <= 15, 'Estado'] = 0 #1 equivale a 'en hora'
df1.loc[df1['ArrDelay'] > 15, 'Estado'] = 1 #0 equivale a 'tarde'
df1

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Estado
1348968,4548472,2008,8,25,1,1908.0,1740,2041.0,1923,DL,...,17.0,0,N,0,0.0,0.0,78.0,0.0,0.0,1.0
930977,3126107,2008,6,2,1,1447.0,1438,1626.0,1614,YV,...,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
908103,3059680,2008,6,22,7,1837.0,1745,2028.0,1930,WN,...,10.0,0,N,0,10.0,0.0,6.0,0.0,42.0,1.0
1368853,4627308,2008,8,15,5,2007.0,1935,2241.0,2055,MQ,...,9.0,0,N,0,19.0,0.0,74.0,0.0,13.0,1.0
652791,2102943,2008,4,28,1,1032.0,950,1221.0,1142,DL,...,18.0,0,N,0,39.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665587,6131585,2008,11,12,3,1041.0,958,1321.0,1154,UA,...,54.0,0,N,0,0.0,0.0,87.0,0.0,0.0,1.0
110559,352997,2008,1,28,1,1101.0,1055,1238.0,1245,F9,...,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
1837626,6743908,2008,12,19,5,2104.0,2000,2353.0,2245,DL,...,38.0,0,N,0,0.0,13.0,4.0,0.0,51.0,1.0
1820569,6690789,2008,12,12,5,1001.0,943,1529.0,1519,UA,...,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
1439950,4905858,2008,9,21,7,1634.0,1610,1724.0,1710,WN,...,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0

**Fes una taula de les aerolínies amb més endarreriments acumulats.TOP5**

In [10]:
retrasos=df1[df1['Estado']==1].groupby(['UniqueCarrier', 'Estado'])['Estado'].count().sort_values(ascending=False).head(5)
retrasos
#Para seleccionar únicamente de Estado los que van con retraso[df1['Estado']==1]
#debo recordar que para hacer groupby es importante saber que el orden en que se ponga es que usará apra luego hacer la tabala
#como si fuese un x e y

#Cuando se utiliza el sort_values el valor del ascending es predeterminado como True, o sea ascendete, por eso
#se modifica. Y con el head seleccionamos que cantidad de datos extraer

UniqueCarrier  Estado
WN             1.0       20274
AA             1.0       13532
MQ             1.0        9777
UA             1.0        9534
OO             1.0        8881
Name: Estado, dtype: int64

Podemos observar que la aerolinea con más retrasos es **Southwest Airlines** , sin embargo, tendremos que tener en cuenta cuantos viajes realizó al año y cual es el porcentaje de vuelos realizados y vuelos retrasados.

**Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.**

Los 5 vuelos más largos en minutos son:

In [21]:
vuelo_largo=df1.groupby(['FlightNum', 'UniqueCarrier'])['AirTime'].max().sort_values(ascending=False).head(5)
vuelo_largo

FlightNum  UniqueCarrier
15         CO               645.0
851        DL               609.0
1273       DL               605.0
1561       DL               569.0
14         CO               547.0
Name: AirTime, dtype: float64

Los 5 vuelos más atrasados en millas son:

In [25]:
mas_retraso=df1.groupby(['FlightNum', 'UniqueCarrier'])['ArrDelay'].max().sort_values(ascending=False).head(5)
mas_retraso

FlightNum  UniqueCarrier
1699       NW               2453.0
3538       MQ               1707.0
1790       AA               1308.0
4508       MQ               1253.0
4801       MQ               1195.0
Name: ArrDelay, dtype: float64

Las 5 rutas más largas:

In [27]:
mas_largo=df1.groupby(['FlightNum','UniqueCarrier'])['Distance'].max().sort_values(ascending=False).head(5)
mas_largo

FlightNum  UniqueCarrier
15         CO               4962
14         CO               4962
1560       DL               4502
1282       DL               4502
851        DL               4502
Name: Distance, dtype: int64

Los 5 vuelos con más retrasos en minutos:

In [30]:
vuelo_mas_retraso=df1.groupby(['FlightNum', 'UniqueCarrier'])['ArrDelay'].max().sort_values(ascending=False).head(5)
vuelo_mas_retraso

FlightNum  UniqueCarrier
1699       NW               2453.0
3538       MQ               1707.0
1790       AA               1308.0
4508       MQ               1253.0
4801       MQ               1195.0
Name: ArrDelay, dtype: float64

Aporta aquello que te parezca relevante:

In [29]:
retrasos=df1.groupby(['UniqueCarrier','Estado'])['UniqueCarrier'].count().unstack
retrasos

<bound method Series.unstack of UniqueCarrier  Estado
9E             0.0        1715
               1.0        3618
AA             0.0        6368
               1.0       13532
AQ             0.0          36
               1.0          39
AS             0.0        1591
               1.0        2400
B6             0.0        1827
               1.0        3865
CO             0.0        4223
               1.0        5830
DL             0.0        4562
               1.0        7252
EV             0.0        2722
               1.0        5841
F9             0.0        1356
               1.0        1547
FL             0.0        2566
               1.0        4844
HA             0.0         324
               1.0         447
MQ             0.0        4698
               1.0        9777
NW             0.0        2571
               1.0        5562
OH             0.0        1488
               1.0        4071
OO             0.0        4643
               1.0        8881
UA             0.0        4841
               1.0        9534
US             0.0        4250
               1.0        6075
WN             0.0       18433
               1.0       20274
XE             0.0        3384
               1.0        7198
YV             0.0        1755
               1.0        5139
Name: UniqueCarrier, dtype: int64>

Con esta nueva tabla podremos saber de la cantidad de vuelos que realiza cada empresa, cuale llegan a tiempo y cuales no.

In [41]:
aerop_mas_salidas=df1.groupby(['Origin'])['Origin'].count().sort_values(ascending=False)
aerop_mas_salidas

Origin
ATL    13762
ORD    12960
DFW     9990
DEN     7608
LAX     6043
       ...
SUX        2
ACY        1
RFD        1
CDC        1
PUB        1
Name: Origin, Length: 297, dtype: int64

Con ésta forma podremos saber que aeropuerto tuvo más salidas durante ese año, y será el de Atlanta

### Exercici 3

**Exporta el dataset net i amb les noves columnes a Excel.**

In [47]:
df1.to_excel('C:/Users/flore/Desktop/DS/Sprint 3/nuevodf.xlsx')